<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank marketing</title>
     <style>
      body{background-image:url("https://wallpaperaccess.com/full/1567862.jpg");
        display:flex;
        background-size:cover;}

    </style>

</head>
<body>
<div class="container">
    <h1><p style=" font-family: Helvetica, sans-serif;">About this project...</p></h1>
    <div class="content">
        <p style="font-size:20px; font-family: Helvetica, sans-serif; ">In financial industry,banks rely on telemarketing to gain more term deposit,which involves bank agents calling them directly.
        Ideally banks wants to contact only those clients who will subscribe in order to keep the scale and cost of their marketing campaign
        under control.However,even though they have a lot of information about their clients and economic development,they do not know
        who will subcribe after being contacted.Trying to contact all the clients will be costly,unrealistic and ineffective.</p>
        <p style="font-size:20px; font-family: Helvetica, sans-serif;">A machine learning algorithm can be developed on historical client data such as:age of the client,their job type,their marital
        status,duration of last call with client,day and month of the call etc.This algorithm will predict which clients will likely
        subscribe the term deposit before agents make phone calls.It will also help the banks to decide how many clients needs to be
        contacted in order to meet their business target,based on which banks can plan the scope,budget and resources of marketing campaign
        accordingly.</p>
        <h2><p style=" font-family: Helvetica, sans-serif;">What is a term deposit?</p></h2>
        <p style="font-size:20px;font-family: Helvetica, sans-serif;">A term deposit is a cash investment held at a financial institution.Your money is invested for an agreed rate of interest
        over a fixed amount of time,or term.Term deposits can be invested into a bank,building,society or credit union.<br/>
        When the money is deposited,the customer understands that the money is there for the pre-determined which usually ranges from 1 month to 5 years
        and the interest rate is guaranteed not to change for that nominated period of time.Typically the money can only be withdrawn at the
        end of the period-or earlier with a penalty attached.</ps>

    </div>

    <div class="tap">
        <h3><p style=" font-family: Helvetica, sans-serif;">Click on the button below to make predictions:</p></h3>
        <form method="post" action="/prediction">
            <div class="form-group">
                <button type="submit" style="
                                color: black;
                                font-weight: bold;
                                width: 120px;
                                height: 50px;
                                border-radius: 12px;
                                font-size: 20px;"
                >
                    Predictions
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>