<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="C:\Users\Varun\Downloads\Bank Marketing\static\css\style.css">
    <title>Bank marketing</title>
    <style>
        body{background-image:url("https://wallpaperaccess.com/full/1567862.jpg");
        display:flex;
        height:50%;
        background-size:cover;
        justify-content:center;
        align-items:center;}



    </style>
</head>
<body>

<div class="container">
  <h2 style="text-align: center; margin: 0px; color: black">
  <b>Fill out the following details and then click on predict..</b>
</h2>
<br />

  <form method="POST" action="/predict">
    <div class="form-group">

      <div class="input-box">
      <span class="details" style="font-size: 17px"><b>Age</b></span>
        <br>
      <input
        type="number"
        class="form-control"
        id="age"
        name="age"
        placeholder="age"
        style="font-weight: bold"
        required
      />
    </div>

    <br/>
    <div class="input-box">
      <span class="details" style="font-size: 17px"><b>Balance</b></span>
        <br/>
      <input
        type="number"
        class="form-control"
        id="balance"
        name="balance"
        placeholder="balance"
        style="font-weight: bold"
        required
      />
    </div>
    <br/>

    <div class="input-box">
        <span class="details" style="font-size: 17px"><b>Last contact day of the month</b></span>
        <br/>
        <input
            type = "number"
            class="form-control"
            id="day"
            name="day"
            placeholder="day"
            style="font-weight: bold"
            required
            />
    </div>
    <br/>

    <div class="input-box">
      <span class="details" style="font-size: 17px"><b>Duration of last contact in seconds</b></span><br/>
      <input
        type="number"
        class="form-control"
        id="duration"
        name="duration"
        placeholder="duration"
        style="font-weight: bold"
        required
      />
    </div>

    <br/><br/>

    <div class="input-box">
      <span class="details" style="font-size: 17px"><b>Number of contacts performed during this campaign</b></span>
         <br/>
      <input
        type="number"
        class="form-control"
        id="campaign"
        name="campaign"
        placeholder="includes previous contacts also"
        style="font-weight: bold"
        required
      />
    </div>
    <br/><br/>

    <div class="input-box">
      <span class="details" style="font-size: 17px"><b>Number of contacts performed before this campaign</b></span>
        <br/>
      <input
        type="number"
        class="form-control"
        id="previous"
        name="previous"
        placeholder="previous contacts"
        style="font-weight: bold"
        required
      />
    </div>
    <br/><br/>

    <div class="input-box"?>
      <span class="details" style="font-size: 17px"
        ><b>Job-type</b></span
      ><br/>
      <select
        name="job-type"
        class="form-control"
        id="job"
        placeholder="Select job-type"
        style="font-weight: bold"
        required
      >
        <option selected>Select job-type</option>
        <option value=0>management</option>
        <option value=1>blue-collar</option>
        <option value=2>technician</option>
        <option value=3>admin.</option>
        <option value=4>services</option>
        <option value=5>retired</option>
        <option value=6>self-employed</option>
        <option value=7>student</option>
        <option value=8>unemployed</option>
        <option value=9>entrepenuer</option>
        <option value=10>housemaid</option>
        <option value=11>unknown</option>
      </select>

    </div>
    <br/>

    <div class="input-box">

      <span for="details" style="font-size: 17px"
        ><b>Marital status</b></span
      ><br/>
      <select
        name="marital"
        class="form-control"
        id="marital"
        placeholder="Select marital status"
        style="font-weight: bold"
        required
        >
        <option selected>Select marital status</option>
        <option value=1>married</option>
        <option value=2>single</option>
        <option value=0>divorced</option>

      </select>
    </div>
    <br/>

    <div class="input-box">

      <span class="details" style="font-size: 17px"
        ><b>Education</b></span
      ><br/>
      <select
        name="education"
        class="form-control"
        id="education"
        placeholder="Select education"
        style="font-weight: bold"
        required
      >
        <option selected>Select Education</option>
        <option value=0>primary</option>
        <option value=1>secondary</option>
        <option value=2>tertiary</option>
        <option value=3>unknown</option>

      </select>
    </div>
    <br/>

    <div class="input-box">
      <span class="details" style="font-size: 17px"
        ><b>Has housing loan?</b></span
      ><br/>
      <select
        name="housing"
        class="form-control"
        id="housing"
        placeholder="Select yes or no"
        style="font-weight: bold"
        required
      >
        <option selected>Select</option>
        <option value=1>yes</option>
        <option value=0>no</option>

      </select>
    </div>
    <br/>

    <div class="input-box">
      <span class="details" style="font-size: 17px"
        ><b>Has personal loan?</b></span
      ><br/>
      <select
        name="personal loan"
        class="form-control"
        id="loan"
        placeholder="Select yes or no"
        style="font-weight: bold"
        required
      >
        <option selected>Select</option>
        <option value=1>yes</option>
        <option value=0>no</option>

      </select>
    </div>
    <br/>
    <div class="input-box">
      <span class="details" style="font-size: 17px"
        ><b>Last contact mode</b></span
      ><br/>
      <select
        name="contact"
        class="form-control"
        id="contact"
        placeholder="Select contact mode"
        style="font-weight: bold"
        required
      >
        <option selected>Select contact mode</option>
        <option value=0>cellular</option>
        <option value=1>telephone</option>
        <option value=2>unknown</option>

      </select>
    </div>
    <br/>
    <div class="input-box">
      <span class="details" style="font-size: 17px"
        ><b>Last contact month of the year</b></span
      ><br/>
      <select
        name="month"
        class="form-control"
        id="month"
        placeholder="Select month"
        style="font-weight: bold"
        required
      >
        <option selected>Select month</option>
        <option value=4>jan</option>
        <option value=3>feb</option>
        <option value=7>march</option>
        <option value=0>apr</option>
        <option value=8>may</option>
        <option value=6>june</option>
        <option value=5>july</option>
        <option value=1>aug</option>
        <option value=11>sep</option>
        <option value=10>oct</option>
        <option value=9>nov</option>
        <option value=2>dec</option>
      </select>
    </div>
    <br/>

    <div class="input-box">
      <span class="details" style="font-size: 17px"
        ><b>Outcome of previous campaign</b></span
      ><br/>
      <select
        name="poutcome"
        class="form-control"
        id="poutcome"
        placeholder="Select outcome"
        style="font-weight: bold"
        required
      >
        <option selected>Select outcome</option>
        <option value=0>failure</option>
        <option value=1>other</option>
        <option value=2>success</option>
        <option value=3>unknown</option>
      </select>
    </div>
    <br/>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info"
        style="
          color: black;
          font-weight: bold;
          width: 130px;
          height: 50px;
          border-radius: 12px;
          font-size: 21px;
        "
      >
        Predict
      </button>
    </div>
  </form>
  </div>
</div>
</body>
</html>