<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank marketing</title>
    <style>
      body{background-image:url("https://wallpaperaccess.com/full/1567862.jpg");
        display:flex;
        height:50%;
        background-size:cover;
        justify-content:center;
        align-items:center;}

    </style>

</head>
<body>
<div class="main">
<h1><p style="text-align:center;margin:250px">The client will not subscribe a term deposit.</p></h1>
</div>

</body>
</html>